.carat {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--orbit-font-family-sans);
  font-size: var(--orbit-text-sm);
  font-weight: var(--orbit-font-weight-regular);
  line-height: var(--orbit-text-body-leading);
  color: var(--orbit-color-text-primary);
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
